%li.track{:class => "#{record.base_model}_#{record.id}"}

  %span.primary.name= record.name
  %span.secondary.artist= record.artist if record.has_artist?

  - if record.has_album?
    %span.secondary.album= record.album
    %span.secondary.year= record.year if record.has_year?

  %span.track_id{:style => 'display: none'}= record.id
