%li.entry.hoverable{{:class => entry.description},{:class => ('inactive' unless entry.active?)}}
  .votes
    %span.count= entry.votes
    = ajax_link :vote, entry, :text => '+', :class => 'vote child', :format => :js
  .created_at{:style => 'display: none'}= entry.created_at.to_i

  = render :partial => 'songs/index_entry', :locals => {:song => entry.song}

= javascript_for_ajax_response
