!!! Strict
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title== Dukejour
    = stylesheet_link_tag 'styles'

    -# TODO http://code.google.com/apis/ajaxlibs/documentation/
    = javascript_include_tag :defaults, 'hammock', 'suggest', 'jquery.json', 'juggernaut', 'jquerynaut', 'swfobject', :cache => true
    = juggernaut :channels => ['dukejour']
    = javascript_tag yield :javascript
    = javascript_for_page
  %body
    #world
      #main
        = yield
        %ul.messages
      #wr_footer
        #footer
          = render :partial => 'libraries/info'
          .copy
            &copy; 2009
            = link_to '@glenmaddern', 'http://twitter.com/glenmaddern'
            and
            = link_to '@ben_h', 'http://twitter.com/ben_h'
